ul {
    list-style-type: none;
    margin: -06px;
    padding: -300px;
    overflow: hidden;
    background-color: #16082f	;
}

li {
    float: left;
    border-right:0px solid ;
}

li:last-child {
    border-right:none;
}

li a {
    display: block;
    color: red;
    text-align: end;
    padding: 05px 11px;
    text-decoration: red;
}

li a:hover:not(.active) {
    background-color: #16082f;


}

.active {
    background-color: #16082f;
}

body{
    margin: 0px;
    font-family: helvetica;
}
.secao4{
    height: auto;
    width: 100%;
}
.secao4-div{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    margin: auto;
    align-items: stretch;
    padding: 10px;
    text-align: center;
}
.secao4-div h3{
    padding: 10px 0px 0px 0px !important;
}
.secao4-div img{
    width: 40%;
    height: auto;
}
.secao4-div-1, .secao4-div-2, .secao4-div-3{
    display: flex;
    width: calc(100% / 3 - 60px);
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 16px 0px rgb(0 0 0 / 10%);
    border-radius: 15px;
    background-color: red;
    transition: all .5s ease;
    z-index: 0;
    justify-content: center;
}
.secao4-div-1:hover, .secao4-div-2:hover, .secao4-div-3:hover{
    transform: scale(1.1);
    z-index: 1;
}
/*mobile*/
@media (max-width: 768px) {
    .secao4-div-1, .secao4-div-2, .secao4-div-3{
        width: 100%;
    }


}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: red;
  margin: 80px 0;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid black;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: red;
  border: 2px solid black;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: black;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: black;
  border-radius: 5px;
  width: 30%;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: black;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.popup .close:hover {
  color: black;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
